body {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 40px;
  height: 100vh;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding-left: 2em;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}

.banner-container {
  height: 100vh;
  text-align: center;
  padding-top: 25vh;
}

@media screen and (max-width: 768px) {
  .banner-container {
    padding-top: 5vh;
  }
}

.banner-title {
  color: white;
  padding: 0.4em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 10em;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-title2 {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 5em;
}

.banner-button {
  color: white;
  background-color: black;
  font-size: 1em;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

.banner-button-big {
  font-size: 1.3em;
}

.banner-button:hover {
  color: white;
}

.banner-button-big:hover {
  background-color: rgb(0, 0, 0);
  a {
    color: white;
    text-decoration: none;
  }
}

.footer i {
  padding-top: 0.35em;
  color: white;
  font-size: 2.5em;
  margin-right: 0.5em;
}

.footer-right {
  position: absolute;
  bottom: 0;
  right: 2em;
  font-size: 1.2em;
  font-style: italic;
}

.footer .fa-facebook-square:hover {
  color: #3b5998;
}

.footer .fa-twitter:hover {
  color: #55acee;
}

.footer .fa-instagram:hover {
  color: ;
}

.event-thumbnail {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 1em;
  opacity: 0.7;
  p {
    opacity: 0;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.3em;
    font-weight: 700;
  }
  &:hover {
    opacity: 1;
    span {
      opacity: 1;
      font-size: 2em;
      text-transform: uppercase;
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 700;
    }
    p {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}

a {
  color: white;
  text-decoration: none;
  }

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}