.nav-button {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
}

.navbar-nav > li > a {
  padding: 12px 20px !important;
  color: white !important;
}

.nav-button {
  color: white !important;
  background-color: black;
  font-size: 1.1em;
  padding: 0.3em;
  //text-align: center;
  text-decoration: none;
  //display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.3) !important;
  color: white;
  border-color: transparent !important;

}

.navbar-header {
  border-color: transparent;
}


.nav-button {
  background-color: transparent;
  padding:0 !important;
}

.nav-button:hover {
  background-color: black;
}

.navbar-toggle {
  border-color: transparent;
}
//.nav-right {
//  float: right !important;
//  font-size: 1em;
//  padding-right: 0.5em;
//}

//@media screen and (max-width: 845px) {
//  .nav-big {
//    display: none;
//  }
//  .nav-small {
//    display: block;
//  }
//}
//
//@media screen and (min-width: 501px) {
//  .nav-small {
//    display: none;
//  }
//  .nav-big {
//    display: block;
//  }
//}