.buttons-months {
    padding-top: 1%;
    padding-bottom: 1%;
}

#tab-map {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    /*background-color: yellow;*/
}


#mapa {
    /*width: 75vw;*/
    height: 100vh;
}

.tab-panel {
    display: none;
}

.tab-panel.active {
    display: block;
}

.localEvent {
    height: 20%;
    border-color: #0f0f0f;
    background-color: yellow;
}