ul, ol {
    list-style: none;
}

.gridster {
    width: 100%;
    margin: 0 auto;
    opacity: 0.9;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs_w {
    cursor: pointer;
}
