body {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
    height: 100vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-left: 2em;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

.banner-left {
    background-color: black;
    height: 100vh;
    text-align: center;
    padding-top: 32vh;

}

.banner-title {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4em;
    margin: 1em;
}

.banner-button {
    border: 2px solid;
    border-color: rgb(180, 180, 180);
    color: rgb(180, 180, 180);
    background-color: black;
    font-size: 1em;
    padding: 0.5em 1em;
    margin: 0.6em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}

.banner-button:hover {
    border-color: white;
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.banner-right {
    background-color: black;
}

.footer i {
    padding-top: 0.35em;
    color: white;
    font-size: 2.5em;
    margin-right: 0.5em;
}

.footer-right {
    position: absolute;
    bottom: 0;
    right: 2em;
    font-size: 1.2em;
    font-style: italic;
}

.footer i:hover {
    font-size: 2.7em;
}

.event-thumbnail {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 1em;
    opacity: 0.7;
}

.event-thumbnail p {
    opacity: 0;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.3em;
    font-weight: 700;
}

.event-thumbnail:hover {
    opacity: 1;
}

.event-thumbnail:hover span {
    opacity: 1;
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}

.event-thumbnail:hover p {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

a:link, a:visited, a:active {
    color: rgb(180, 180, 180);
    text-decoration: none;
}

