<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="By 50/50" content="Event calendar">
    <title>Event calendar / event</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,900' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="gridster/css/jquery.gridster.css">
    <link rel="stylesheet" type="text/css" href="gridster/css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/calendar.css">
    <link rel="stylesheet" type="text/css" href="css/banner.css">
    <link rel="stylesheet" type="text/css" href="css/event.css">
    <link rel="stylesheet" type="text/css" href="css/event-thumbnails.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/perfect-scrollbar.css">
</head>

<body>

<div class="event-main-container" ng-controller="ctrl1">

    <div class="header-container">
        <button class="banner-button"><a href="index.html">HOME</a></button>
        <button class="banner-button"><a href="calendar.html">KALENDARZ</a></button>
        <button class="banner-button"><a href="map.html">MAPA</a></button>
        <h1 class="calendar-title">KALENDARZ EVENTÓW</h1>
    </div>


    <div class="event-container">

        <div class="container-fluid">
            <div class="col-xs-6 contScroll" id="idScroll">
                <div ng-repeat="events in events" ng-click="updateEvents(events)">
                    <p class="event-title">//{{events.name}}</p>

                    <p class="event-date">//{{events.date}}</p>
                </div>
            </div>
            <div class="col-xs-6">
                <div ng-show="cardEvents">
                    <p class="event-title">{{cardEvents.name}}</p>
                    <p class="event-date">
                        //{{cardEvents.nameClub}}<br>//{{cardEvents.date}}<br>//{{cardEvents.city}}<br></p>
                    <img src="{{cardEvents.photo1}}" class="img-responsive">
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container row">
                <p>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </p>

                <p class="footer-right">Event calendar by 50/50
                </p>
            </div>
        </footer>
    </div>
</div>

<script type="text/javascript" src="js_lokalne/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="gridster/jquery.gridster.js" charset="utf-8"></script>
<script type="text/javascript" src="css/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/main-scripts.js"></script>
<script type="text/javascript" src="js_lokalne/js_mapa.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.jquery.js"></script>
<script src="js/scrollbar.js"></script>

</body>
</html>