<div class="calendar-background">
    <div class="menu-months container-row">
        <div id="left" class="col-xs-3 col-sm-2 col-md-2 col-lg-1 calendar-arrow" ng-click="moveLeft()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="block"></div>

        <div id="right" class="col-xs-3 col-sm-2 col-md-2 col-lg-1 calendar-arrow" ng-click="moveRight()">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
    </div>
    <div gridster>
        <ul>
            <li class="event-thumbnail"
                gridster-item="event"
                 ng-repeat="event in events | filter: {dateEvent: currentDate}"
                 style="background-image: url('{{event.photoEvent}}');">

                <p class="halo"><span>{{event.nameEvent}}<br></span>//{{event.dateEvent}}</p>
            </li>
        </ul>
    </div>
</div>

