<div class="menu-months container-row">
    <div id="left" class="col-xs-3 col-sm-2 col-md-2 col-lg-1 calendar-arrow" ng-click="moveLeft()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </div>

    <!--wyświetlanie się przycisków z dniami-->
    <div class="block">    </div>

    <div id="right" class="col-xs-3 col-sm-2 col-md-2 col-lg-1 calendar-arrow" ng-click="moveRight()">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
</div>




<div gridster>
    <ul>
        <li class="event-thumbnail"
            gridster-item="event"
            ng-repeat="event in events"
            style="background-image: url('{{event.photoEvent}}')">
            <p class="halo"><span>{{event.nameEvent}}</span></p><p>//{{event.dateEvent}}//</p>
        </li>
    </ul>
</div>

















<!--<div class="gridster show">-->
    <!--<ul>-->
        <!--<li class="event-thumbnail" id="img11" data-row="1" data-col="1" data-sizex="2" data-sizey="2">-->
            <!--<p class="halo"><span>ej techno</span></p><p>// 21.06<br>// Sfinks 700</p>-->
        <!--</li>-->
        <!--<li class="event-thumbnail" id="img24" data-row="3" data-col="1" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>ej techno</span></p><p>// 21.06<br>// Sfinks 700</p>-->
        <!--</li>-->
        <!--<li class="event-thumbnail" id="img25" data-row="4" data-col="1" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>ej techno</span></p><p>// 21.06<br>// Sfinks 700</p>-->
        <!--</li>-->

        <!--<li class="event-thumbnail" id="img5" data-row="3" data-col="2" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>ej techno</span></p><p>// 21.06<br>// Sfinks 700</p>-->
        <!--</li>-->
        <!--<li class="event-thumbnail" id="img26" data-row="4" data-col="2" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>ej techno</span></p><p>// 21.06<br>// Sfinks 700</p>-->
        <!--</li>-->

        <!--<li class="event-thumbnail" id="img1" data-row="1" data-col="3" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img18" data-row="2" data-col="3" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img4" data-row="3" data-col="3" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img8" data-row="4" data-col="3" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->


        <!--<li class="event-thumbnail" id="img2" data-row="1" data-col="4" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img5" data-row="2" data-col="4" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img21" data-row="3" data-col="4" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img23" data-row="4" data-col="4" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->

        <!--<li class="event-thumbnail" id="img3" data-row="1" data-col="5" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img4" data-row="2" data-col="5" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img24" data-row="3" data-col="5" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img25" data-row="4" data-col="5" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->

        <!--<li class="event-thumbnail" id="img6" data-row="1" data-col="6" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img7" data-row="2" data-col="6" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img20" data-row="3" data-col="6" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img19" data-row="4" data-col="6" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->

        <!--<li class="event-thumbnail" id="img8" data-row="1" data-col="7" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img9" data-row="2" data-col="7" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img11" data-row="3" data-col="7" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img21" data-row="4" data-col="7" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->

        <!--<li class="event-thumbnail" id="img10" data-row="1" data-col="8" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img30" data-row="2" data-col="8" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img1" data-row="3" data-col="8" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img3" data-row="4" data-col="8" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->


        <!--<li class="event-thumbnail" id="img12" data-row="1" data-col="9" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img13" data-row="2" data-col="9" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img20" data-row="3" data-col="9" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img29" data-row="4" data-col="9" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->

        <!--<li class="event-thumbnail" id="img14" data-row="1" data-col="10" data-sizex="1"-->
            <!--data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p>-->
        <!--</li>-->
        <!--<li class="event-thumbnail" id="img15" data-row="2" data-col="10" data-sizex="1"-->
            <!--data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img28" data-row="3" data-col="10" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img23" data-row="4" data-col="10" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->


        <!--<li class="event-thumbnail" id="img16" data-row="1" data-col="11" data-sizex="1"-->
            <!--data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p>-->
        <!--</li>-->
        <!--<li class="event-thumbnail" id="img17" data-row="2" data-col="11" data-sizex="1"-->
            <!--data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img28" data-row="3" data-col="11" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img23" data-row="4" data-col="11" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->


        <!--<li class="event-thumbnail" id="img29" data-row="1" data-col="12" data-sizex="1"-->
            <!--data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p>-->
        <!--</li>-->
        <!--<li class="event-thumbnail" id="img19" data-row="2" data-col="12" data-sizex="1"-->
            <!--data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img28" data-row="3" data-col="12" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img23" data-row="4" data-col="12" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->


        <!--<li class="event-thumbnail" id="img20" data-row="1" data-col="13" data-sizex="1"-->
            <!--data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p>-->
        <!--</li>-->
        <!--<li class="event-thumbnail" id="img21" data-row="2" data-col="13" data-sizex="1"-->
            <!--data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img28" data-row="3" data-col="13" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img23" data-row="4" data-col="13" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->


        <!--<li class="event-thumbnail" id="img22" data-row="1" data-col="14" data-sizex="1"-->
            <!--data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p>-->
        <!--</li>-->
        <!--<li class="event-thumbnail" id="img23" data-row="2" data-col="14" data-sizex="1"-->
            <!--data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img28" data-row="3" data-col="14" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->
        <!--<li class="event-thumbnail" id="img23" data-row="4" data-col="14" data-sizex="1" data-sizey="1">-->
            <!--<p class="halo"><span>Halo techno</span></p><p>// 21.06<br>// Sfinks 700</p></li>-->

    <!--</ul>-->
<!--</div>-->

<!--<div class="event-info hide container-fluid" id="background">-->
    <!--<button class="backward-button"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>-->
    <!--<div class="col-xs-12 col-lg-3 e1">-->
        <!--<p class="event-title">nazwa imprezy</p>-->
        <!--<p class="event-date">data i miejsce imprezy</p>-->
    <!--</div>-->
    <!--<div class="col-xs-12 col-lg-6 e2">-->
        <!--<p class="event-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. </p>-->
    <!--</div>-->
<!--</div>-->


<!--<script type="text/javascript" src="../new-layout/js/navigation.js"></script>-->

<!--<script type="text/javascript">-->
    <!--var gridster;-->

    <!--$(function() {-->
        <!--gridtster = $(".gridster > ul").gridster({-->
            <!--widget_margins: [0, 0],-->
            <!--widget_base_dimensions: [155, 155],-->
            <!--max_rows: 2-->
        <!--}).data('gridster');-->
    <!--});-->
<!--</script>-->
