<div class="clubs-background">
    <div class="container-fluid clubs-container">
        <div class="container-row">
            <p class="search-for-club">WYSZUKAJ LOKAL</p>
            <select class="form-control navbar-inverse"
                    ng-options="item as item.name for item in clubsWithEvents track by item.name"
                    ng-change="updateClubs()"
                    ng-model="club">
            </select>
        </div>
        <div class="list-of-events container-row extraScroll" ng-show="club">
            <div class="event-grids col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="event in club.events">
                <img src="{{event.photoEvent}}" class="event-grid">
                <p class="event-list-title">{{event.nameEvent}}</p>
                <p class="event-list-date">{{event.dateEvent}}</p>
            </div>
        </div>
    </div>
</div>
